<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Data-Aggregation-and-Grouping" data-toc-modified-id="Data-Aggregation-and-Grouping-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Data Aggregation and Grouping</a></span><ul class="toc-item"><li><span><a href="#Aggregation" data-toc-modified-id="Aggregation-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Aggregation</a></span></li><li><span><a href="#Grouping" data-toc-modified-id="Grouping-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Grouping</a></span><ul class="toc-item"><li><span><a href="#Iterating-GroupBy-object" data-toc-modified-id="Iterating-GroupBy-object-1.2.1"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span>Iterating GroupBy object</a></span></li><li><span><a href="#groups" data-toc-modified-id="groups-1.2.2"><span class="toc-item-num">1.2.2&nbsp;&nbsp;</span><code>groups</code></a></span></li><li><span><a href="#size" data-toc-modified-id="size-1.2.3"><span class="toc-item-num">1.2.3&nbsp;&nbsp;</span><code>size</code></a></span></li><li><span><a href="#get_group()" data-toc-modified-id="get_group()-1.2.4"><span class="toc-item-num">1.2.4&nbsp;&nbsp;</span><code>get_group()</code></a></span></li><li><span><a href="#Applying-aggregations" data-toc-modified-id="Applying-aggregations-1.2.5"><span class="toc-item-num">1.2.5&nbsp;&nbsp;</span>Applying aggregations</a></span></li><li><span><a href="#Multiple-Aggregations" data-toc-modified-id="Multiple-Aggregations-1.2.6"><span class="toc-item-num">1.2.6&nbsp;&nbsp;</span>Multiple Aggregations</a></span></li><li><span><a href="#Grouping-by-Multiple-Variables" data-toc-modified-id="Grouping-by-Multiple-Variables-1.2.7"><span class="toc-item-num">1.2.7&nbsp;&nbsp;</span>Grouping by Multiple Variables</a></span></li></ul></li></ul></li><li><span><a href="#Summary" data-toc-modified-id="Summary-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Summary</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#ðŸ’¡-Check-for-understanding" data-toc-modified-id="ðŸ’¡-Check-for-understanding-2.0.1"><span class="toc-item-num">2.0.1&nbsp;&nbsp;</span>ðŸ’¡ Check for understanding</a></span></li></ul></li></ul></li></ul></div>

# Data Aggregation and Grouping 

Data aggregation and grouping are fundamental operations in data analysis. They involve combining multiple pieces of data into a single result. For instance, you may want to group data by certain variables and then calculate summary statistics like count, mean, sum, or standard deviation.

In [ ]:
import pandas as pd

# Load the dataset
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/titanic_train.csv'
df = pd.read_csv(url)

# Display the first few rows of the DataFrame
df.head()

## Aggregation

Aggregation in pandas involves applying a function to a dataset, transforming multiple values into a single value. pandas provides various aggregation functions, including:

- `mean()`: Compute the arithmetic mean.
- `sum()`: Compute the sum of values.
- `min()`: Compute the minimum value.
- `max()`: Compute the maximum value.
- `count()`: Count the number of non-null values.
- `std()`: Compute the standard deviation.

For instance, to find the mean value of a numerical column, use the `mean()` function:

## Grouping

Grouping is the process of splitting the data into groups based on certain criteria. The `groupby()` function is used for this purpose.

### Iterating GroupBy object

The `groupby()` function in pandas returns a `GroupBy` object that can be iterated over. Each iteration provides a tuple where the first item is the group identifier and the second item is the data in that group as a DataFrame.

### `groups`
The `groups` attribute of a pandas `GroupBy` object is a dictionary. The keys of this dictionary are the computed unique groups and the corresponding values are the axis labels belonging to each group.

### `size`

The `size` attribute of a pandas `GroupBy` object returns a Series giving the size (i.e., the number of items) of each group. This is like applying the `count()` function to each group, but `size` includes `NaN` values and `count` does not.

### `get_group()`

The `get_group` method is used to select a single group from a `GroupBy` object as a DataFrame. You provide the name of the group you want to select as an argument.

### Applying aggregations

Once the data is split into groups, you need a way to represent each group in the resulting output. That's where aggregation functions come in.

For example, if you group a DataFrame by a categorical variable (like 'City'), you'll end up with a separate group for each unique city in your data. But how do you want to represent each city in your result? Do you want the mean of another variable (like 'Sales') for each city? The sum? The maximum? This is what the aggregation function determines.

When you apply an aggregation function after a `groupby()`, pandas applies that function to each group separately and then combines the results into a new DataFrame.

### Multiple Aggregations

You can perform multiple aggregations at once using the `agg()` function. 

For example, let's find the count, mean, and standard deviation of the age of passengers, grouped by their gender:

### Grouping by Multiple Variables

You can group by multiple variables by passing a list to the `groupby()` function.

For example, let's find the average age of passengers grouped by their gender and whether they survived:

# Summary

- Aggregation involves applying a function to a dataset that reduces multiple values into a single value. Common aggregation functions in pandas include `mean()`, `sum()`, `min()`, `max()`, `count()`, and `std()`.
- Grouping in pandas is done using the `groupby()` function, which splits data into groups based on certain criteria. The grouped data can then be aggregated separately.
    - A `GroupBy` object can be iterated over, with each iteration yielding a tuple where the first item is the group identifier, and the second item is the data in that group as a DataFrame.
    - The `groups` attribute of a `GroupBy` object is a dictionary where the keys are the computed unique groups, and the corresponding values are the axis labels belonging to each group.
    - The `size` attribute of a `GroupBy` object returns a Series giving the size of each group. Unlike the `count()` function, `size` includes `NaN` values.
    - The `get_group()` method of a `GroupBy` object allows for the selection of a single group as a DataFrame.
- After a `groupby()` operation, an aggregation function is necessary to represent each group in the resulting output.
- Multiple aggregations can be performed at once using the `agg()` function.
- Grouping can be done by multiple variables by passing a list to the `groupby()` function. This can be helpful when you want to analyze your data at different levels of granularity.

### ðŸ’¡ Check for understanding

Using the Titanic dataset (`'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/titanic_train.csv'`), perform the following operations and **write your conclusions after each step**:

- Calculate the number, mean, and standard deviation of the 'Fare' paid by passengers, grouped by their 'Sex'.

- Determine the number of survivors and non-survivors by class (use 'Pclass' variable).

- Determine the number of survivors and non-survivors by gender.

- Use the `get_group` method to select the group of 1st Class passengers and display the first 5 rows of this group. Then, group by 'Survived' within the first class group, and calculate the average fare.

- Create a new column 'AgeGroup' . This column should categorize passengers as 'Child' (age <= 12), 'Teen' (12 < age <=18), 'Adult' (18 < age <= 60), and 'Senior' (age > 60). Then, find out how many survivors are there in each age group.

- BONUS: calculate the survival rates within each age group in percentages.

In [ ]:
# Your code goes here